.authorization-popupBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.authorization-popupBox__title {
    font-size: 25px;
    margin-bottom: 15px;
}

.authorization-popupBox__inputs-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.authorization-popupBox__inputs-wrapper div{
    margin-bottom: 10px;
}

.authorization-popupBox__reg-btn {
    margin-top: 10px;
    color: blue;
    text-decoration: underline;
}