* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

h1, h2, h3, h4, span {
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
}

input {
    padding: 10px;
    border: 1px solid grey;
    outline: none;
}

a {
    text-decoration: unset;
}

.fullHeightContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    height: 100%;
    width: 980px;
    margin: 0 auto;
    border-right: 1px solid black;
    border-left: 1px solid black;
}