* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

h1, h2, h3, h4, span {
    text-align: center;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color:#F8F9FA;
    border-left: 1px solid #E9ECEF;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color:#E9ECEF;
}

.opacity-0 {
    opacity: 0;
}
.cursor-pointer {
    cursor: pointer;
}

.no-cursor {
    cursor: unset!important;
}

.mobile {
    display: none;
}

.desktop {
    display: block!important;
}

.arrowBack {
    position: absolute;
    left: 20px;
    top: 15%;
}

html, body {
    margin: 0;
    padding: 0;
}

input {
    /*padding: 10px;*/
    /*border: 1px solid grey;*/
    /*outline: none;!important;*/
}

a {
    text-decoration: unset;
}

.navLink__active {
    color: orange;
}

.fullHeightContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    flex: 1;
    width: 980px;
    margin: 0 auto;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.container, .container-sm, .container-md, .container-lg {
    flex: 1;
}

.slider-container {
    flex: 1;
    display: flex;
}

.slider-container .slider-container__slider {
    width: 20%;
    border-right: 1px solid black;
}
.slider-container .slider-container__content {
    width: 60%;
    border-right: 1px solid black;
}

.createAnnouncement__params-photos-files-file {
    height: 67px!important;
    width: 49%!important;
}

@media (max-width: 1140px) {
    html {
        font-size: 14px;
    }

}

@media (max-width: 992px) {
    html {
        font-size: 14px;
    }


    .createAnnouncement__params-photos-files-file {
        height: 150px!important;
        width: 49%!important;
        margin-bottom: 10px;
    }

    .header__menu {
        overflow: unset!important;
    }

}

@media (max-width: 768px) {
    .mobile {
        display: block;
    }

    .header__authMenu-menu.dropdown-menu {
        position: unset!important;
        width: 100%;
    }

    .header__menu {
        max-height: 0!important;
        overflow: hidden!important;
    }

}

@media (max-width: 576px) {

    html {
        font-size: 16px;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none!important;
    }

    /*.createAnnouncement__params-photos-files-file {*/
    /*    height: 150px!important;*/
    /*    width: 46%!important;*/
    /*}*/

    .settingsPage__setting-avatar {
        height: 290px!important;
    }

    .announcementPage__photo-slider {
        width: 100%!important;
        height: 277px!important;
    }

}
