
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    border-bottom: 2px solid black;
}
.header__inner-wrapper {
    display: flex;

}
.header__navigation-wrapper {
    display: flex;
    margin-left: 50px;
}

.header__navigation-link {
    font-weight: bold;
    font-size: 16px;
    border: 1px solid grey;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.header__navigation-link:hover {
    background-color: beige;
}

.header__navigation-link:not(:first-of-type) {
    margin-left: 10px;
}
.header__btn-link:not(:first-of-type)  {
    margin-left: 10px;
}
