
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    border-bottom: 2px solid black;
}
.header__inner-wrapper {
    display: flex;

}
.header__navigation-wrapper {
    display: flex;
    margin-left: 50px;
}

.header__navigation-link {
    font-weight: bold;
    font-size: 16px;
    border: 1px solid grey;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.header__authMenu {
    position: relative;
    display: flex;
    align-items: center;
    /*overflow: hidden;*/
}
.header__authMenu-name {
    position: relative;
}

.header__authMenu-name:before {
    content: "↓";
    margin-right: 5px;
    /*position: absolute;*/
    /*right: -5px;*/
}

.header__authMenu-menu {
    padding: 25px 40px;

    text-align: center;
    visibility: hidden;

    background: #FFFFFF;
    border: 1.5px solid #DDE3E7;
    border-radius: 6px;

    position: absolute;
    z-index: 9999;
    top: 115%;
    left: 200%;

    transform: translateX(-80%);

    /*transition: all .5s ease-out;*/
    max-height: 0;
}

.header__authMenu-menu::before {
    content: '';

    width: 0;
    height: 0;

    border-bottom: 10px solid #DDE3E7;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    position: absolute;
    top: -10px;
    left: 20px;

    transform: translateX(-20%);

    display: block;
}

.header__authMenu-menu-active {
    max-height: 100vh;
    visibility: unset;
}

.header__authMenu-menu-item {
    display: block;
    font-weight: bold;
    cursor: pointer;
}
.header__authMenu-menu-item {
    margin-bottom: 10px;
}

.header__authMenu-menu-item:hover {
    text-decoration: underline;
}

.header__navigation-link:hover {
    background-color: beige;
}

.header__navigation-link:not(:first-of-type) {
    margin-left: 10px;
}
.header__btn-link:last-of-type {
    margin-left: 20px;
}
