.slider {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  overflow: hidden;
  transition: all 0.3s;
}

.slider__page {
  min-width: 100%;
}

.carousel-control:hover {
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0.4);
}
